
ion-content {
  --background: #f5f8fc; 
}


.d-flex-center {
  height: 100%;          
  width: 100%;
  margin: 0;
}


.auth-form {
  width: 100%;
  height: 100vh;        
  max-width: 100%;       
  margin: 0;
  border-radius: 0;     
  box-shadow: none;      
  padding: 32px 24px;    
  background: linear-gradient(135deg, #e3f2ff, #fdfbff); 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  }