<ion-header class="bl-header">
  <ion-toolbar class="bl-toolbar">

    <!-- Botones de la izquierda (back o menú) -->
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="showMenu" menu="menu-content"></ion-menu-button>
    </ion-buttons>

    <!-- Título + BabyLog -->
    <ion-title>
      <strong>{{ title }}</strong>
    </ion-title>

    <!-- 🔹 Zona de acciones a la derecha (botón +, etc.) -->
    <ion-buttons slot="end">
      <ng-content></ng-content>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
