<ion-header class="bl-header">
  <ion-toolbar class="bl-toolbar">

    <!-- Botones de la izquierda (back o menú) -->
    <ion-buttons slot="start">

  <!-- Menú -->
  <ion-menu-button 
    *ngIf="showMenu" 
    menu="menu-content">
  </ion-menu-button>

        <!-- Back -->
  <ion-back-button
    *ngIf="backButton"
    defaultHref="/"
    text=""
    icon="arrow-back-outline">
  </ion-back-button>

    </ion-buttons>

    <!-- Título + BabyLog -->
    <ion-title>
      <strong>{{ title }}</strong>
    </ion-title>

    <!-- Zona de acciones (botón + u otros) -->
    <ion-buttons slot="end">
      <ng-content></ng-content>
    </ion-buttons>

  </ion-toolbar>
</ion-header>