ion-item.custom-input {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 0.25rem;

  &.has-error {
    --highlight-height: 2px;
    --highlight-color-focused: var(--ion-color-danger);
    --border-color: var(--ion-color-danger);
  }
}

.error {
  margin: 0 0 0.75rem;
  font-size: 0.75rem;
  color: var(--ion-color-danger);
}
