<app-header backButton="/main/home" title="Registro de Sueño" ></app-header>


<ion-content class="ion-padding">

  <!-- ✅ Botón visible y verde -->
    <ion-button class="ion-margin-top" expand="block" (click)="alternarFormulario()">
      Añadir Sueño
    </ion-button>

  <!-- 💤 Formulario de ingreso -->
  <ion-card *ngIf="mostrarFormulario" class="ion-margin-bottom">
    <ion-card-header>
      <ion-card-title>Registrar horas de sueño</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Hora en que se durmió</ion-label>
        <ion-input type="time" [(ngModel)]="horaDormir"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Hora en que despertó</ion-label>
        <ion-input type="time" [(ngModel)]="horaDespertar"></ion-input>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" (click)="confirmarSueno()">
        Confirmar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- 📊 Gráfico -->
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-card-title>Gráfico de Horas de Sueño</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <canvas #sleepChart></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
