h2{
  text-decoration: underline;
  text-align: center;
  color:#ce5585;
  margin-top: 20px;
}

p{
  text-align: center;
  color: #666;
  margin: 10px 20px;
  font-size: 16px;
}

/* Fondo general */
.sleep-page {
  --background: #f5f8fc;
  padding-bottom: 200px; /* espacio para el menú inferior */
  position: relative;
}

/* FAB flotante estilo Instagram */
.fab-add {
  position: fixed;
  bottom: 65px; /* justo arriba del footer */
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #d1789c;
  color: #64b6ac;
  border: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.fab-add ion-icon {
  font-size: 2rem;
}

/* Barra inferior */
.bottom-nav ion-toolbar {
  --background: #ffffff;
  --border-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 -3px 12px rgba(0,0,0,0.12);
  min-height: 56px;
}

