<app-header title="Inicio"></app-header>
<ion-content class="home-bg">
  <div class="header">
    <h2>Bienvenido a BabyLog</h2>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="baby-card">
          <ion-avatar>
            <img [src]="image[0]?.image" (click)="addUpdateImage()"/>
          </ion-avatar>
          <br>
          <br>
          <ion-label class="name">Hola, {{ image[0]?.name }}</ion-label>
          <ion-card-content>
            <h3>Crecimiento general</h3>
            <p>Altura, peso y desarrollo</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="stat-card sleep" (click)="goToSueno()">
          <ion-card-header>
            <ion-card-title>💤 Sueño</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Promedio diario: 9h</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="stat-card vacunas" (click)="goToVacunas()">
          <ion-card-header>
            <ion-card-title>💉 Vacunas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Próxima: Pentavalente - 12 Nov</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="stat-card controles" (click)="goToControles()">
          <ion-card-header>
            <ion-card-title>📅 Controles</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Próximo control: 25 Nov</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="stat-card peso" (click)="goToPeso()">
          <ion-card-header>
            <ion-card-title>⚖️ Peso</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>3.5 kg</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

