.header {
  text-align: center;
  margin-top: 1.5rem;

  h2 {
    font-size: 1.6rem;
    color: var(--pink);
  }

  p {
    color: var(--text);
    margin-top: 0.3rem;
  }
}

ion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

ion-card img {
  width: 160px;
  height: auto;
  margin-bottom: 12px;
}

ion-card-title {
  color: var(--pink);
  font-weight: 600;
  font-size: 1.2rem;
}

ion-card-content {
  color: var(--text);
 font-size: 0.95rem;
}
