h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

ion-item {
  --border-radius: 10px;
  margin-bottom: 10px;
}

ion-modal {
  --height: 80%;
  --border-radius: 16px;
}

ion-button {
  margin-top: 20px;
}
