<ion-menu
  contentId="main-content"
  menuId="menu-content"
  side="start"
  type="overlay"
>

  <!-- Header del menú -->
  <app-header title="Menú"></app-header>

  <ion-content class="menu-content">

    <!-- Avatar + nombre -->
    <ion-avatar class="menu-avatar">
      <img *ngIf="user()?.image" [src]="user()?.image" />
      <ion-icon
        *ngIf="!user()?.image"
        class="empty-icon"
        name="person-circle-outline">
      </ion-icon>
    </ion-avatar>

    <h4 class="menu-username">{{ user()?.name }}</h4>

    <!-- Opciones -->
    <ion-list lines="none">
      <ion-menu-toggle autoHide="false" *ngFor="let p of pages">
        <ion-item
          [routerLink]="['/main', p.url]"
          routerDirection="root"
          [ngClass]="{ 'active': currentPath === '/main/' + p.url }"
          detail="false"
        >
          <ion-icon
            slot="start"
            [name]="p.icon || 'ellipse-outline'">
          </ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

  </ion-content>

  <!-- Footer: cerrar sesión -->
  <ion-footer class="safe-p-bottom">
    <ion-menu-toggle autoHide="false">
      <ion-item lines="none" (click)="signOut()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-footer>

</ion-menu>

<!-- Contenido principal -->
<ion-router-outlet id="main-content"></ion-router-outlet>
