@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {

  --ion-color-primary: #d6336c;
  --bg-beige: #feb8ef;
  --pink: #d6336c;
  --green: #63d6c1;
  --text: #333;
}



ion-app, ion-content {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-beige);
  color: var(--text);
}

ion-card {
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  background: #7ce9fc;
  margin: 12px;
  padding: 8px;
}

ion-toolbar {
  
  --background: #ffffff;
  --border-color: #FFC5D3;
  --border-style: solid;
  --border-width: 4px;
  --color: #d6336c;
  --min-height: 56px;
  --opacity: 2;
  --padding-bottom: 4px;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-top: 4px;
}

ion-button {
    text-transform: none;
}

// safe padding for ios
.safe-p-bottom{
    padding-bottom: constant(safe-area-inset-bottom); // for ios 13+
    padding-bottom: env(safe-area-inset-bottom); // for previous ios versions
}

.submit {
    margin-top: 40px;
}

.empty {
    text-align: center;
    padding: 60px;
    opacity: 30%;

    ion-icon {
        font-size: 100px;
    }
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.custom-input {
    --border-color: #e0e0e0;
    --border-radius: 15px;
    --border-style: solid;
    --border-width: 1px;
    margin: 20px 0;

    ion-label {
        position: relative;
        bottom: 2px;
    }

    .eye-icon {
        position: relative;
        top: 13px;
    }
}

.validators {
    color: var(--ion-color-danger);
    font-size: 13px;
    text-align: center;
}


.auth-form {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.product-item {
    --padding-top: 20px;

    ion-avatar {
        width: 70px;
        height: 80px;
        --border-radius: 15px;
    }

    .name {
        font-weight: 600;
        padding-bottom: 5px;
    }

    .data {
        font-size: 13px;

        strong {
            font-weight: 500;
        }
    }

    .option-btn {
        font-size: 27px;
    }

    ion-chip {
        font-size: 14px;
        border-radius: 10px;
        margin-left: 0;
    }
}

@media (min-width: 769px) {
    .auth-form {
        width: 500px;
    }

    .add-update-modal {
        --height: 680px;
    }
}

// Boton de registro
.registro-texto {
  color: #d6336c;
  text-align: center;
  font-size: 15px;   
  font-weight: 500;  
  gap: 6px;          
  cursor: pointer;   
}
