@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --bg-beige: #fff9f5;
  --pink: #d6336c;
  --green: #63d6c1;
  --text: #333;
}

html, body, ion-app, ion-content {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-beige);
  background-color: #FFD1DC;
  color: var(--text);
}

ion-card {
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  background: #7ce9fc;
  margin: 12px;
  padding: 8px;
}
