<app-header backButton="/main/home" title="Alimentación"></app-header>

<ion-content class="ion-padding">

  <ion-searchbar placeholder="Buscar alimento..." [(ngModel)]="busqueda"></ion-searchbar>

  <ion-button expand="block" class="ion-margin-top" (click)="abrirFormulario()">
    Añadir registro
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let r of registros">
      <ion-label>
        <h2>{{ getDiaSemana(r.fecha) }} - {{ getHora(r.fecha) }}</h2>
        <p>Alimento: {{ r.alimento }}</p>
        <p>Cantidad: {{ r.cantidad }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="mostrarFormulario" (didDismiss)="cerrarFormulario()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nuevo registro</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarFormulario()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form [formGroup]="form" (ngSubmit)="guardarRegistro()">

          <ion-item>
            <ion-label position="floating">Alimento</ion-label>
            <ion-input formControlName="alimento"></ion-input>
          </ion-item>
          <div class="validators" *ngIf="form.controls['alimento'].errors && form.controls['alimento'].touched">
            <div *ngIf="form.controls['alimento'].errors?.['required']">Alimento requerido</div>
          </div>

          <ion-item>
            <ion-label position="floating">Cantidad</ion-label>
            <ion-input formControlName="cantidad"></ion-input>
          </ion-item>
          <div class="validators" *ngIf="form.controls['cantidad'].errors && form.controls['cantidad'].touched">
            <div *ngIf="form.controls['cantidad'].errors?.['required']">Cantidad requerida</div>
          </div>

          <ion-item>
            <ion-label position="floating">Fecha</ion-label>
            <ion-datetime formControlName="fecha" presentation="date-time"></ion-datetime>
          </ion-item>
          <div class="validators" *ngIf="form.controls['fecha'].errors && form.controls['fecha'].touched">
            <div *ngIf="form.controls['fecha'].errors?.['required']">Fecha requerida</div>
          </div>

          <ion-button expand="full" type="submit" [disabled]="form.invalid" class="ion-margin-top">
            Guardar
          </ion-button>

        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
