/* Titulos y texto */
h2{
  text-align: center;
  color:#ce5585;
  margin-top: 20px;
}

h4{
  text-align: center;
  color:#ce5585;
  margin-top: 20px;
}

p{
  text-align: center;
  color: #666;
  margin: 10px 20px;
  font-size: 16px;
}

/* DASHBOARD */
.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 20px;
}

.dash-card {
  background: white;
  padding: 14px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.dash-icon {
  font-size: 32px;
  color: #4a66ff;
  margin-bottom: 4px;
}

/* HISTORIAL (UNA DEBAJO DE OTRA) */
.meal-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* TARJETAS */
.card-meal {
  background: white;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ICONO DE CATEGORÍA */
.meal-icon ion-icon {
  font-size: 40px;
  color: #ff7a00;
}

/* TEXTO */
.meal-name {
  font-weight: bold;
  font-size: 1.1rem;
}

.meal-meta {
  font-size: 0.85rem;
  color: #666;
}

.card-actions {
  margin-left: auto;
  display: flex;
  gap: 4px;
}
